<h1>商品一覧</h1>

<%= link_to new_admin_item_path do %>
  <h3>商品作成</h3>
<% end %>

<table class="table table-striped">
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>商品価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.no_tax_price %></td>
      <td><%= item.genre.name %></td>
      <% if item.is_sold == true %>
        <td><%= "販売中" %></td>
      <% elsif item.is_sold == false %>
        <td><%= "売り切れ" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
