<h1>注文履歴詳細</h1>
<table>
  <tr>
    <td>購入者</td>
    <td><%= @order.name %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td><%= @order.zip_code %> <%= @order.address %> <%= @order.name %></td>
  </tr>
  <tr>
    <td>支払方法</td>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <td>注文ステータス</td>
    <td>
      <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
      <%= f.select :ordered_process, Order.ordered_processes.keys.map {|k| [I18n.t("enums.order.ordered_process.#{k}"), k]} %>
      <%= f.submit '更新' %>
    </td>
  </tr>
  <% end %>
</table>
<br>

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th>製作ステータス</th>
    <th></th>
  </tr>
  <% @sum = 0 %>
  <% @order_details.each do |order_detail| %>
    <tr>
      <td><%= order_detail.item.name %></td>
      <td><%= (order_detail.tax_price * 1.1).round %></td>
      <td><%= order_detail.item_amount %></td>
      <td><%= (order_detail.tax_price * 1.1).round * order_detail.item_amount %></td>
      <% @sum += (order_detail.tax_price * 1.1).round * order_detail.item_amount %>
      <td>
        <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id) do |f| %>
          <%= f.select :made_process, OrderDetail.made_processes.keys.map {|k| [I18n.t("enums.order_detail.made_process.#{k}"), k]} %>
          <%= f.submit '更新' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br>

<table>
  <tr>
    <td>商品合計</td>
    <td><%= @sum %></td>
  </tr>
  <tr>
    <td>送料</td>
    <td><%= @order.postage %></td>
  </tr>
  <tr>
    <td>請求金額合計</td>
    <% @total_price = @sum + @order.postage %>
    <td><%= @total_price %></td>
  </tr>
</table>
