<h1>会員一覧</h1>

<table>

  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>

  <% @end_users.each do |end_user| %>
    <tr>
      <td><%= end_user.id %></td>
      <td><%= end_user.first_name %><%= end_user.last_name %></td>
      <td><%= end_user.email %></td>
      <td><%= end_user.is_unsubscribed %></td>
    </tr>
  <% end %>

</table>
