<div class="container">
  <div class="row">
    <h1><span>ショッピングカート</span></h1>
    <div class="col-md-offset-1 col-md-10">
      <h3>
        <%= link_to cart_items_path, method: :delete, "data-confirm" => "本当に全て削除しますか？" do %>
          <button class="btn btn-danger">カートを空にする</button>
        <% end %>
      </h3><br>
      <table class="table table-striped">

        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>

        <% @sum = 0 %>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_item.item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
              <%= cart_item.item.name %>
            </td>
            <td>
              <%= (cart_item.item.no_tax_price * 1.1).round %>
            </td>
            <td>
              <%= form_with model: cart_item, url: cart_item_path(cart_item.id) do |f| %>
                <%= f.text_field :amount %>
                <%= f.submit '変更' %>
              <% end %>
            </td>
            <td>
              <%= (cart_item.item.no_tax_price * 1.1).round * cart_item.amount %>
            </td>
            <td>
              <%= link_to cart_item_path(cart_item.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                <button class="btn btn-danger">削除する</button>
              <% end %>
            </td>
            <td>
              <% @sum += (cart_item.item.no_tax_price * 1.1).round * cart_item.amount %>
            </td>
          </tr>
        <% end %>
      </table><br><br><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <table class="table table-striped">
        <tr>
          <td>合計金額</td>
          <td><%= @sum %>円</td>
        </tr>
      </table>
    </div>
  </div><br><br><br>

  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <%= link_to items_path do %>
        <button class="btn btn-primary"><h3>買い物を続ける</h3></button>
      <% end %>
      <%= link_to new_order_path do %>
        <button class="btn btn-primary"><h3>情報入力に進む</h3></button>
      <% end %>
    </div>
  </div>

</div>
