<div class="container">
  <div class="row">
    <h1>配送先登録/一覧</h1><br>
    <div class="col-md-offset-1 col-md-10">
      <%= form_for(@address) do |f| %>
        <table class="table table-striped">

          <tr>
            <td>郵便番号(ハイフンなし)</td>
            <td><%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code" %></td>
          </tr>

          <tr>
            <td>住所</td>
            <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
          </tr>

          <tr>
            <td>宛名</td>
            <td><%= f.text_field :name, autofocus: true, autocomplete: "name" %></td>
          </tr>

        </table>
        <p class="text-center"><%= f.submit "登録する" %></p>
      <% end %><br><br>

      <table class="table table-striped">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.zip_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td>
              <%= link_to "編集する", edit_address_path(address.id) %>
              <%= link_to "削除する", address_path(address.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
