<div class="container">
  <h2>商品詳細ページ</h2><br>
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>
    </div>
    <div class="col-md-8">
      <h1><%= @item.name %></h1><br>
      <p><%= @item.introduction %></p><br>
      <h2>¥<%= (@item.no_tax_price * 1.1).round %>(税込)</h2><br>
      <%= form_for(@cart_item, url: cart_items_create_path) do |f| %>
        <%= f.select :amount, [[1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], include_blank: "個数選択" %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :end_user_id, value: current_end_user.id %>
        <%= f.submit 'カートに入れる' %>
      <% end %>
    </div>
  </div>
</div>
