<h2>登録情報編集</h2>

<%= form_for(resource, as: resource_name, url: end_user_registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <table>

    <tr>
      <td>氏名</td>
      <td>
        <span>(姓)</span><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %><span>(名)</span><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %><br>
      </td>
    </tr>

    <tr>
      <td>カナ</td>
      <td>
        <span>(セイ)</span><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %><span>(メイ)</span><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %><br>
      </td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
      </td>
    </tr>

    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td>
        <%= f.text_field :zip_code, autofocus: true, autocomplete: "zip_code" %><br>
      </td>
    </tr>


    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, autofocus: true, autocomplete: "address" %></td>
    </tr>

    <tr>
      <td>電話番号(ハイフンなし)</td>
      <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number" %></td>
    </tr>

  </table>

  <div class="update">
    <%= link_to end_user_registration_path(resource_name) do %>
      <%= f.submit "編集内容を保存する" %>
    <% end %>
  </div>

  <div class="unsubscribe">
    <%= link_to end_users_edit_unsubscribe_path do %>
      <p>退会する</p>
    <% end %>
  </div>

<% end %>
