<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-inverse">
      <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
      <% end %>
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span style="color: white;"></span>
          <nav>
            <ul class="nav navbar-nav navbar-right">
              <% if end_user_signed_in? %>

                <%= link_to end_users_path do %>
                  <h1>LOGO</h1>
                <% end %>

                <li>
                  <%= link_to "マイページ", end_users_path %>
                </li>

                <li>
                  <%= link_to "商品一覧", items_path %>
                </li>

                <li>
                  <%= link_to "カート" %>
                </li>

                <li>
                  <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete %>
                </li>

              <% elsif admin_signed_in? %>

                <%= link_to admin_top_path do %>
                  <h1>LOGO</h1>
                <% end %>

                <li>
                  <%= link_to "商品一覧", admin_items_path %>
                </li>

                <li>
                  <%= link_to "会員一覧", admin_end_users_path %>
                </li>

                <li>
                  <%= link_to "注文履歴一覧" %>
                </li>

                <li>
                  <%= link_to "ジャンル一覧", admin_genres_path %>
                </li>

                <li>
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                </li>

              <% else %>

                <%= link_to root_path do %>
                  <h1>LOGO</h1>
                <% end %>

                <li>
                  <%= link_to "商品一覧", items_path %>
                </li>

                <li>
                  <%= link_to "新規登録", new_end_user_registration_path %>
                </li>

                <li>
                  <%= link_to "ログイン", new_end_user_session_path %>
                </li>
              <% end %>
            </ul>
          </nav>
        </nav>
      </div>
    </header>

    <%= yield %>

  </body>
</html>
